@model List<students_web.Models.Student>
@{
    ViewBag.Title = "Home Page";
}

<style>
    table {
        width: 100%;
    }

    table, th, td {
        border: 1px solid gray;
    }

    td, th {
        padding: 4px;
    }
</style>

<div class="jumbotron">
    <h1>Students</h1>
</div>

<table>
    <thead>
        <tr>
            <th colspan="3">
                @Html.ActionLink("Add New", "NewStudent")
            </th>
        </tr>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
        <tr>
            <td>@student.Id</td>
            <td>@student.Name</td>
            <td>@student.Surname</td>
            <td>@Html.ActionLink("Details", "StudentDetail", new { StudentId = student.Id })</td>
            <td>@using (Html.BeginForm("DeleteStudent", "Home"))
                {
                    @Html.Hidden("studentId", student.Id)
                    <input type="submit" value="Delete" />
                }
            </td>
        </tr>
        }

        
    </tbody>

</table>

